<VirtualHost *:{{ apache_http_port }}>

  ServerName {{ item.server_name }}
{% if item.aliases is defined %}
  ServerAlias {% for alias in item.aliases %}{{ alias }} {% endfor %}
{% endif %}

  UseCanonicalName on
  DocumentRoot {{ item.document_root }}{% if item.folder is defined %}/{{ item.folder }}{% endif %}

  <Directory {{ item.document_root }}{% if item.folder is defined %}/{{ item.folder }}{% endif %}>
{% if item.auth is defined %}
    Options FollowSymLinks
{% if item.fcgi == true %}
    AllowOverride All
{% endif %}
{% if item.auth.htaccess is defined %}
    AuthName "Restricted"
    AuthType Basic
    AuthUserFile /etc/htpasswd/{{ item.auth.htaccess.name}}
    Require valid-user
{% endif %}
{% if item.auth.ip is defined and item.auth.ip.forwarded is defined %}
{% for ip in item.auth.ip.forwarded %}
    SetEnvIf X-Forwarded-For "{{ ip.ip }}" {{ ip.name }}
    Require env {{ ip.name }}
{% endfor %}
{% endif %}
{% if item.auth.ip is defined and item.auth.ip.direct is defined %}
    Require ip {{ item.auth.ip.direct }}
{% endif %}
    Deny from all
    Satisfy Any
{% else %}
    Options All
    AllowOverride All
    Require all granted
{% endif %}
  </Directory>

{% if item.auth is defined or item.login_auth is defined %}
  <LocationMatch ^/(\?q=)?user(/?.*)$ >
    AuthName "Restricted"
    AuthType Basic
{% if item.login_auth is defined %}
    AuthUserFile /etc/htpasswd/{{ item.auth.htaccess.name }}
{% else %}
{% if item.auth is defined %}
    AuthUserFile /etc/htpasswd/{{ item.auth.htaccess.name }}
{% endif %}
{% endif %}
    Require valid-user
  </LocationMatch>
{% endif %}
{% if item.newrelic is defined %}
  <IfModule php5_module>
    php_value newrelic.appname "{{ item.server_name }}"
  </IfModule>
{% endif %}
  <IfModule remoteip_module>
    RemoteIPHeader X-Forwarded-For
    RemoteIPInternalProxy 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16 169.254.0.0/16 127.0.0.0/8
  </IfModule>

  LogLevel info
  ErrorLog /var/log/apache2/{{ item.server_name }}-error.log
{% if item.elb == true %}
  LogFormat "\"%a\" %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-agent}i\" %D" combined-elb
  CustomLog /var/log/apache2/{{ item.server_name }}-access.log combined-elb
{% else %}
  CustomLog /var/log/apache2/{{ item.server_name }}-access.log combined
{% endif %}

{% if item.filesmatch == true %}
  <FilesMatch "\.(ttf|otf|eot|woff)$">
    <IfModule mod_headers.c>
      Header set Access-Control-Allow-Origin "*"
    </IfModule>
  </FilesMatch>
{% endif %}

  <IfModule rewrite_module>
    RewriteEngine On
{% if rewrite is defined %}
{% for item in rewrite %}
    "RewriteRule {{ item.path }}{{ item.rule }}
{% endfor %}
{% endif %}
  </IfModule>

{% if item.fcgi == true %}
  <IfModule proxy_fcgi_module>
    <Proxy *>
      AddDefaultCharset off
      Require all granted
    </Proxy>
    ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://127.0.0.1:9000{{ item.document_root }}{% if item.folder is defined %}/{{ item.folder }}{% endif %}/$1
  </IfModule>
{% endif %}

</VirtualHost>
